<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .basic {
      position: absolute;
      top: 50px;
      left: 0;
      bottom: 0;
      right: 0;
      border: 1px solid black;
    }

    .sider {
      width: 50px;
      background-color: #ccc;
      height: 100%;
    }

    .sider-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div class="basic">
    <div class='sider'>
      <div class='sider-title'>
        abcabcabcabcabcabcabcabcabcabcabcabcabc
      </div>
    </div>
  </div>
</body>

</html>