<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>两列布局</title>
  <style>
    body, html {
      margin: 0;
      padding: 0
    }
    .layout-container {
      width: 500px;
      height: 400px;
      margin: 50px auto;
      border: 1px solid black;
    }
    .left {
      width: 100px;
      float: left;
      background-color: #ccc;
      height: 100%;
      margin-right: 30px;
    }
    .main {
      overflow: auto;
      height: 100%;
      background-color: #999;
    }
  </style>
</head>
<body>
  <div class='layout-container'>
    <div class='left'></div>
    <div class='main'></div>
  </div>
</body>
</html>