<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>三列布局</title>
  <style>
    body,
    html {
      margin: 0;
      padding: 0
    }

    .left {
      width: 100px;
      background-color: #ccc;
      position: absolute;
      top: 0;
      left: 0;
    }

    .right {
      width: 100px;
      background-color: #ccc;
      position: absolute;
      top: 0;
      right: 0;
    }

    .main {
      margin-left: 100px;
      margin-right: 100px;
      background-color: #999;
      min-width: 500px;
    }
  </style>
</head>

<body>
  <div class='left'>left</div>
  <div class='right'>right</div>
  <div class='main'>main</div>
</body>

</html>