/*
	相对定位是一个非常容易掌握的概念。
	如果对一个元素进行相对定位，它将出现在它所在的位置上。
	然后，可以通过设置垂直或水平位置，让这个元素“相对于”它的起点进行移动。
	
	设置为绝对定位的元素框从文档流完全删除，并相对于其包含块定位，
	包含块可能是文档中的另一个元素或者是初始包含块。
	元素原先在正常文档流中所占的空间会关闭，就好像该元素原来不存在一样。
	元素定位后生成一个块级框，而不论原来它在正常流中生成何种类型的框。
	
	
	对于定位的主要问题是要记住每种定位的意义。
	所以，现在让我们复习一下学过的知识吧：
	相对定位是“相对于”元素在文档中的初始位置，
	而绝对定位是“相对于”最近的已定位祖先元素，
	如果不存在已定位的祖先元素，那么“相对于”最初的包含块。
*/
img {
	position: absolute;
	top: 5%
}

h2.pos_left {
	position: relative;
	left: -20px
}

h2.pos_right {
	position: relative;
	left: 20px
}

h2.pos_abs {
	color:red;
	position: absolute;
	left: 100px;
	top: 150px
}